
<div class="column">
<h2 class="title pb-4">Login:</h2><hr>
  <form class="login-form">
    <div>
      <label for="email-login">Email address: </label>
      <input type="email" class="form-control-sm" id="email-login" placeholder="email@example.com">
    </div>
    <div>
      <label for="password-login">Password: </label>
      <input type="password" class="form-control-sm" id="password-login" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/signup">New around here? Sign up</a>



<script src="./public/js/login.js"></script>