<section>
<form>
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" id="newTitle">
  </div>
  <div class="form-group">
    <label>Add a new post</label>
  <textarea name="post-body" class="form-input" id="newContent"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="new-post">Create</button>
</form>
</section>
<script src="/js/newPost.js"></script>