
<div class="column">
<h2 class="title pb-4">Sign Up:</h2><hr>
  <form class="signup-form">
    <div>
      <label for="name-signup">Username: </label>
      <input type="text" class="form-control-sm" id="name-signup" placeholder="username">
    </div>
    <div>
      <label for="email-signup">Email address: </label>
      <input type="email" class="form-control-sm" id="email-signup" placeholder="email@example.com">
    </div>
    <div>
      <label for="password-signup">Password (must be at least 8 characters): </label>
      <input type="password" class="form-control-sm" id="password-signup" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/login">Already have an account? Login</a>


<script src="./public/js/signUp.js"></script>