<section>
<form>
  <input type="hidden" name="post-id" id="postId" value="{{post.id}}" />
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" id="updateTitle" value="{{post.title}}" >
  </div>
  <div class="form-group">
    <label>Post Content</label>
  <textarea name="post-body" class="form-input" id="updateContent">{{post.body}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="update-post">Update</button>
  <button type="submit" class="btn btn-primary" id="delete-button">Delete</button>
</form>
</section>
<script src="/js/updatePost.js"></script>